In [1]:
import pandas as pd

In [2]:
import time

In [3]:
from ipywidgets import interact_manual

In [4]:
##讀取銀行網頁
FER_bot = pd.read_html('http://rate.bot.com.tw/xrt?Lang=zh-TW')
FER_CITI = pd.read_html('https://www.citibank.com.tw/TWGCB/apba/fxrts/InitializeSubApp.do?TTC=29&selectedBCC=TWD')

In [5]:
##資料取得時間
times = time.strftime("%F_%H%M")

In [6]:
##指定讀取表格
FER_bot = FER_bot[0]
FER_CITI = pd.DataFrame(FER_CITI[0])

In [7]:
##指定Dataframe欄位
FER_bot = FER_bot.ix[:,0:5]
FER_CITI = FER_CITI.ix[32:45,1:5]

In [8]:
##花旗欄位順序調整
FER_CITI = FER_CITI[[1,5,4,3,2]]

In [9]:
##欄位名稱定義
colums_list = [u'幣別', u'現金匯率-本行買入', u'現金匯率-本行賣出', u'即期匯率-本行買入', u'即期匯率-本行賣出']
FER_bot.columns = list(colums_list)
FER_CITI.columns = list(colums_list)

In [10]:
##去除台銀幣別重複字串
FER_bot[u'幣別'] = FER_bot[u'幣別'].str.extract('\((\w+)\)')

D:\Python\WinPython-64bit-3.6.0.1Qt5\python-3.6.0.amd64\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

In [11]:
# Table preview
FER_bot

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出
0   USD    29.955    30.497    30.255    30.355
1   HKD     3.731     3.926     3.851     3.911
2   GBP     38.02     39.95     38.89     39.31
3   AUD     22.99     23.65     23.18     23.41
4   CAD     23.42     24.16     23.69     23.91
5   SGD     21.51     22.29     21.93     22.11
6   CHF     30.77     31.83      31.3     31.59
7   JPY    0.2598    0.2708    0.2662    0.2702
8   ZAR         -         -      2.24      2.32
9   SEK      3.22      3.73      3.56      3.66
10  NZD     21.73     22.36     21.97     22.17
11  THB    0.7897    0.9327    0.8782    0.9182
12  PHP    0.5514    0.6844         -         -
13  IDR   0.00193   0.00263         -         -
14  EUR     33.96     35.11     34.46     34.86
15  KRW   0.02492   0.02882         -         -
16  VND   0.00096   0.00146         -         -
17  MYR     6.017     7.552         -         -
18  CNY     4.373     4.535     4.445     4.495

In [12]:
FER_CITI

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出
32  USD   30.0485   30.5565   30.2606   30.3443
33  GBP       NaN       NaN    38.908   39.2754
34  CHF       NaN       NaN   31.3454   31.5488
35  JPY    0.2644    0.2716    0.2666    0.2694
36  AUD       NaN       NaN   23.1967   23.3993
37  EUR   34.3075   35.0094   34.5328   34.7841
38  CAD       NaN       NaN   23.6989   23.8827
39  HKD    3.8266    3.9345    3.8545    3.9066
40  SGD       NaN       NaN   21.9052   22.1117
41  SEK       NaN       NaN    3.5756    3.6381
42  NZD       NaN       NaN   21.9491   22.2046
43  THB       NaN       NaN    0.8806    0.9054
44  ZAR       NaN       NaN     2.263    2.3108
45  CNY    4.3815    4.5572    4.4463    4.4924

In [13]:
bot = 'Bank of Taiwan'
citi = 'Citibak Taiwan'

In [14]:
#是否產生Excel
def createExcel(x):
    if x == True:
        FER_bot.to_excel(bot+'_'+'Foreign Exchange Rate'+'_'+times+'.xlsx');
        FER_CITI.to_excel(citi+'_'+'Foreign Exchange Rate'+'_'+times+'.xlsx');
        print ("Done");
    else:
        FER_bot
        FER_CITI